# Language server
.cache/
compile_commands.json


# Firmware Demos
conf/
asf/
asf-full/
src/
vendor/
Makefile
Justfile
build/

# Klipper
klipper/

# Dumps and decompiled firmware
fw/
ghidra/

# DFP files
*_DFP.*
